<ul class="sidebar" >
<!-- sort in alphebetical order -->
    <p class="separator">Fiesta Anna&Juan</p>
    <li><a href="{{ "/index.html" | prepend: site.url }}">Inicio</a></li>
    <li><a href="{{ "/agenda/index.html" | prepend: site.url }}">Agenda</a></li>
    <li><a href="{{ "/menu/index.html" | prepend: site.url }}">Men&uacute;</a></li>
    <li><a href="{{ "/localizacion/index.html" | prepend: site.url }}">Localización</a></li>
    <li><a href="{{ "/alojamiento/index.html" | prepend: site.url }}">Alojamiento</a></li>
    <li><a href="{{ "/transporte/index.html" | prepend: site.url }}">Transporte</a></li>
    <li><a href="{{ "/alrededores/index.html" | prepend: site.url }}">Alrededores</a></li>
    <li><a href="{{ "/musica/index.html" | prepend: site.url }}">M&uacute;sica</a></li>
    <li><a href="{{ "/confirmacion/index.html" | prepend: site.url }}">Confirmaci&oacute;n</a></li>

    <a class="goto-top-link hide-on-phone" href="#top">
        <div class="goto-top text-center">
            <i class="fa fa-step-forward fa-rotate-270"></i>
        </div>
    </a>
</ul>
